<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>Network Intrustion Detection System</title>
  </head>
  <body> 
    <header class="text-gray-600 body-font -my-5">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
          <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-purple-500 rounded-full" viewBox="0 0 24 24">
              <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
            </svg>
            <span class="ml-3 text-xl">Network Intrustion Detection System</span>
          </a>
          <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400	flex flex-wrap items-center text-base justify-center" style="color: rgb(2, 2, 2);">
            <a class="mr-5 hover:text-gray-900">Home</a>
            <a class="mr-5 hover:text-gray-900">Predictions</a>
            <a class="mr-5 hover:text-gray-900" href="#Contact">Contact us</a>
            </nav>
          
        </div>
      </header><hr>

      <section class="text-gray-600 body-font -my-5">
        <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
          <div class="lg:flex-grow md:w-1/2 lg:pr-20 md:pr-12 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center px-10">
            <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Make A Prediction</h1>
            <p class="mb-8 leading-relaxed">Click here to detect the Intrustion</p>
            <div class="flex w-full md:justify-start justify-center items-end">
              
            <a href="/prediction">  <button class="inline-flex text-white bg-purple-500 border-0 py-2 px-6 focus:outline-none hover:bg-purple-600 rounded text-lg" >Detect Intrustion</button></a>
            </div>
            </div>
            <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
            <img class="object-cover object-center rounded" alt="hero" src="/static/img1.svg">

            
            <div class="flex lg:flex-row md:flex-col">
              
              
            </div>
          </div>
          
        </div>
      </section>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
 <!-- footer-->

    <footer class="text-gray-600 body-font -my-5">
      <h2 id="Contact" class="title-font text-gray-900 tracking-widest text-sm mb-3 text-center" style="font-size: x-large;"><b>Contact Us</b></h2>
        <div class="container px-5 py-14  mx-auto">    
          <div class="flex flex-wrap md:text-left text-center order-first" style="color: rgb(2, 2, 2);">
            <div class="lg:w-1/3 md:w-1/2 w-full px-4 ">
              <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3"><b>Under the guidence of</b></h2>
              <nav class="list-none mb-10 " >
                <li>
                 <h3>Dr.P. Vijaya Bharathi</h3>
                 <h3>Head Of the Department</h3>
                 <h3>Computer Science and Engineering</h3>
                 <h3>Vignan's Institute of Engineering for Women</h3>
                </li>
                
              </nav>
            </div>
            <div class="lg:w-1/4 md:w-1/2 w-full px-4">
              <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3"><b>Member</b></h2>
              <nav class="list-none mb-10">
                <li >
                  <h3>Bonumaddi Ramya</h3>
                  <h3>B.Tech Final year </h3>
                  <h3>Computer Science and Engineering</h3>
                  <h3>Vignan's Institute of Engineering for Women</h3>
                  <a href="mailto:ramyabonumaddi25@gmail.com"><h3>ramyabonumaddi25@gmail.com</h3></a>
                  <a href="http://www.linkedin.com/in/ramya-bonumaddi-3987a220a"><h3>Contact LinkedIn:</h3></a>
                 </li>
              </nav>
            </div>
            <div class="lg:w-1/4 md:w-1/2 w-full px-4">
              <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3"><b>Member</b></h2>
              <nav class="list-none mb-10">
                <li>
                  <h3>Dadhirao Jyothsna</h3>
                  <h3>B.Tech Final year </h3>
                  <h3>Computer Science and Engineering</h3>
                  <h3>Vignan's Institute of Engineering for Women</h3>
                  <a href="mailto:ramyabonumaddi25@gmail.com"><h3>dadhiraojyothsna@gmail.com</h3></a>
                  <a href="https://www.linkedin.com/in/jyothsna-dadhirao-03563920a?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><h3>Contact LinkedIn:</h3></a>
                 </li>
              </nav>
            </div>
          </div>
        </div>
      
              </div>
            </div>
            <div class="container px-5 py-6 mx-auto flex items-center sm:flex-row flex-col">
              <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
                  stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-purple-500 rounded-full"
                  viewBox="0 0 24 24">
                  <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
                </svg>
                <span class="ml-3 text-xl">Network Classification</span>
              </a>
              <p class="text-sm text-gray-500 sm:ml-6 sm:mt-0 mt-4">©Network Intrustion 
                
              </p>
              <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
                
                <a class="ml-3 text-gray-500" href="http://www.linkedin.com/in/ramya-bonumaddi-3987a220a">
                  <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                    stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                    <path stroke="none"
                      d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
                    <circle cx="4" cy="4" r="2" stroke="none"></circle>
                  </svg>
                </a>
              </span>
            </div>


          </footer>
  </body>
</html>